@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.primary{
  color: white;
  background-color: #D4AF37;
}
.secondary{
    color: white;
    background-color: black;
}
.transparent{
  color:#D4AF37 ;
  border: 1px solid #D4AF37;
  background-color: transparent;
}
.primaryBg{
  background-color: #D4AF37;
}
.secondaryBg{
  background-color: black;
}
.colorWhite{
  color: white;
}
.colorLightBlack{
  color: #1A1A1A;
}
.cardBtn {
  position: absolute;
  bottom: 15px;
  left: -6px;
    margin: 10px;
}
.maxH{
  max-height: 600.11px;
}
